<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>403</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<!--Elements are centered-->
<body class="text-center">

<!--No permission form-->
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No permission!</h4>
    <p>Sorry! Unfortunately you have no permission for this action!</p>
    <hr>
    <br/>
    <br/>
    <!--Navigation to home page-->
    <a th:href="@{/recipe}" class="btn btn-primary">Go Back</a>
</div>

</body>
</html>