<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body>
<!--Header of the page-->
<header th:insert="blocks/header::header"></header>

<div class="alert alert-info mt-5 pt-5" role="alert" th:if="${#authorization.expression('!isAuthenticated()')}">
    <h4 class="alert-heading">Sorry!</h4>
    <p>You are not allowed to review this page. </p>
    <hr>
    <!--Navigation to Sign in form-->
    <p class="mb-0">This page can be accessed only by Authorized users. Please, <a th:href="@{/loginPage}"/>sign in</p>
</div>

<div class="container"  th:if="${#authorization.expression('isAuthenticated()')}">
    <div class="jumbotron mt-3" >
        <form th:method="post"  th:object="${updateRecipe}">
            <h1 class="display-4">Update the recipe USER!</h1>
            <div class="form-group">
                <input class="form-control" name="title" type="text" th:value="*{title}"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            </div>
            <div class="form-group">
                <input class="form-control" name="pretext" type="text" th:value="*{pretext}"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('pretext')}" th:errors="*{pretext}">
            </div>
            <div class="form-group">
                <input class="form-control" name="full_text" type="text" th:value="*{full_text}"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('full_text')}" th:errors="*{full_text}">
            </div>

            <input type="submit" class="btn btn-success " value="Update"/>
            <a th:href="@{'/recipe' + '/'+ ${id} +'/' + ${author} }" class="btn btn-primary">Go Back</a>
        </form><!--Update recipe form-->
    </div><!--jumbotron-->
</div><!--container-->



<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>