<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="application/json;charset=UTF-8"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body class="text-center">

<!--Header of the page -->
<header th:insert="blocks/header::header"></header>

<!--Greeting for authenticated user-->
<div class="bg-dark py-5 mb-5">
    <div class="container h-75" sec:authorize="isAuthenticated()">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Hello, <span sec:authentication="name"></span>! Welcome back!
                </h1>
            </div>
        </div>
    </div>
</div>


<!--Greeting for a non-authenticated user-->
<main role="main" class="inner cover" sec:authorize="!isAuthenticated()">
    <h1 class="cover-heading">Hey there! I see you are new at our page!</h1>
    <p class="lead">Here you can find some fresh recipes, which we have prepared for you!</p>
</main>

<!--Method for displaying two last elements in database-->
<div class=" row">
    <div class="col-6" th:each="el: ${pages}">
        <div class=" bg-secondary card h-100">
            <!--<img class="card-img-top" src="" alt="">-->
            <h1 class="text-white">New in</h1>
            <div class="card-body">
                <h4 class="card-title text-white" th:text="${el.title}"></h4>
                <p class="card-text text-white" th:text="${el.pretext}"></p>
            </div>
            <div class="card-footer">
                <a th:href="'/recipe/'+${el.id}+ '/'+ ${el.author}" class="btn btn-info">More...</a>
            </div>
        </div>
    </div>

</div>

<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>