<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<!--Elements of the page are centered-->
<body class="text-center">


<!--Sign in form-->
<form class="form-signin mt-5 pt-5" th:action="@{/loginPage}" method="post">
    <p th:if="${loginError}" class="error">You have entered wrong Password or User name. Please try again!</p>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
        <label for="ie" class="sr-only">User name</label>
        <input name="username" type="username" id="ie" placeholder="User name" required autofocus>
    </div>
    <div class="form-group">
        <label for="ip" class="sr-only">Password</label>
        <input name="password" type="password" id="ip" placeholder="Password" required>
    </div>
    <button class="btn btn-primary " type="submit">Sign in</button>
</form>

<br/>

<!--Registration page navigation-->
<h1 class="h3 mb-3 font-weight-normal">Do not have an account? Do you want to <a href="/register">register?</a></h1>

<!--Home page navigation-->
<h6 class="h3 mb-3 font-weight-normal">Go back to the <a th:href="@{/}">guest</a></h6>


</body>
</html>