<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body>
<!--Header of the page-->
<header th:insert="blocks/header::header"></header>

<!--Restriction in case user is not authorized-->
<div class="alert alert-info mt-5 pt-5" role="alert" th:if="${#authorization.expression('!isAuthenticated()')}">
    <h4 class="alert-heading">Sorry!</h4>
    <p>You are not allowed to review this page. </p>
    <hr>
    <!--Navigation to authorization form-->
    <p class="mb-0">This page can be accessed only by Authorized users. Please, <a th:href="@{/loginPage}"/>sign in</p>
</div>

<!--Create new recipe form-->
<div  class="container">
    <div class="jumbotron mt-3" th:if="${#authorization.expression('isAuthenticated()')}">
        <form  th:method="post" th:object="${recipe}">
            <h1 class="display-4">Create a recipe!</h1>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{title}" placeholder="Enter title"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{pretext}" placeholder="Enter pretext"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('pretext')}" th:errors="*{pretext}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{full_text}" placeholder="Enter full text"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('full_text')}" th:errors="*{full_text}">
            </div>

            <input type="submit" class="btn btn-success " value="Create"/>
            <!--Navigation to recipe page-->
            <a th:href="@{/recipe}" class="btn btn-primary">Go Back</a>
        </form>
    </div>
</div>


<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>
