<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>More</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body class="text-center">
<!--Header of the page-->
<header th:insert="blocks/header::header"></header>

<!--Restriction for non-authorized user-->
<div class="alert alert-info mt-5 pt-5" role="alert" th:if="${#authorization.expression('!isAuthenticated()')}">
    <h4 class="alert-heading">Sorry!</h4>
    <p>You are not allowed to review this page. </p>
    <hr>
    <!--Navigation to Sign in form-->
    <p class="mb-0">This page can be accessed only by Authorized users. Please, <a th:href="@{/loginPage}"/>sign in</p>
</div>


<!--View of recipe by id and author-->
<div class="container" th:each="elem: ${recipe}">
    <div class="jumbotron" th:if="${#authorization.expression('isAuthenticated()')}">
        <h1 class="display-3 "></h1>
        <h2 th:text="${elem.title}"></h2>
        <p th:text="${elem.full_text}"></p>
        <p class="text-right" th:text="'Author: '+ ${elem.author}"/>
        <br/>
        <br/>

        <a th:href="'/recipe/'+${elem.id}+'/'+${elem.author}+'/update'" class=" btn btn-info">Update</a>


        <!--Admin buttons for deleting and updating a record-->
        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">

            <a th:href="'/admin/'+${elem.id}+'/update'" class="btn btn-outline-primary">Admin-Update</a>

            <form th:action="'/admin/'+${elem.id}+'/delete'" method="post" th:object="${delete}">
                <button type="submit" class="btn btn-outline-primary">Admin-Delete</button>
            </form>
        </div>

    </div>

</div>


<!--Navigation to recipe page-->
<a th:href="@{/recipe}" class="btn btn-primary btn-lg btn-block">Go Back</a>

<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>
