<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body class="text-center">

<!--Header of the page-->
<header th:insert="blocks/header::header"></header>

<!--Registration form-->
<div class="container mt-5 pt-5 alert alert-secondary">
    <h1 class="h3 mb-3 font-weight-normal">Registration form</h1>

    <form th:action="@{/register}" th:method="POST" th:object="${registerUser}">
        <div class="alert alert-primary" role="alert" th:text="${created}" th:if="${created}"></div>
        <div class="form-group">
            <label for="inputName">User name</label>
            <br/>
            <input id="inputName" type="text" th:field="*{username}" autocomplete="off"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        </div>
        <div class="form-group">
            <label for="inputPass">Password</label>
            <br/>
            <input id="inputPass" type="text" th:field="*{password}" autocomplete="off"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div>
        <input type="submit" class="btn btn-success " value="Register"/>
    </form>
</div>




<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>