<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(194, 186, 169);
        }
    </style>
</head>
<body>
<!--Header of the page-->
<header th:insert="blocks/header::header"></header>



<!--Record found with Search tag view-->
<div class="container mt-5 pt-5">
    <div class="row justify-content-center align-self-center mt-5" th:each="el: ${search}">
        <div class="col-lg-4 border">
            <h2 th:text="${el.title}"></h2>
            <p th:text="${el.pretext}"></p>
            <p><a class="btn btn-info" th:href="'/recipe/'+${el.id}+ '/'+ ${el.author}">More&raquo;</a></p>
        </div>
    </div>
</div>

<!--Footer of the page-->
<div th:insert="blocks/footer::footer"></div>
</body>
</html>