
<div  th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4 " >
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </footer>

</div>
