<div th:fragment="header">

    <!--Navigation bar items-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Coffee</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recipe}">Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutUs}">About</a>
                </li>
            </ul>
            <!--Search tab-->
            <div class="col-4 text-middle " sec:authorize="isAuthenticated()">
                <form th:action="@{/recipe/search}" method="get">
                    <input type="text" th:placeholder="Search" th:name="searchTitle" aria-label="Search for recipe"
                           autocomplete="false"/>
                    <span class="input-group-btn">
        <button class="btn btn-default text-white" type="submit">Search</button>
      </span>
                </form>
            </div>

            <!--Logged as tab, in case user is authorized-->
            <div class="col-4 text-right end" sec:authorize="isAuthenticated()">
                <a class="nav-item ui-state-disabled">You logged as <span sec:authentication="name"></span></a>
            </div>
            <form class="form-inline mt-2 mt-md-0">
                <!--Logout button in case user is authorized-->
                <ul class="navbar-nav mr-auto">
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                    </li>
                    <!--Login button in case user is non-authorized-->
                    <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" href="/loginPage">Login</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>
